@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #6f6f6f;
  font-family: Open Sans;
  font-weight: 200;
}
.login {
  width: 40%;
  margin: auto;
  text-align: center;
  input {
    background: #f5f5f5;
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
    padding: 13px 10px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
  }
  button {
    color: #31546C;
    border-radius: 10px;
    background-color: transparent;
    font-family: Open Sans;
    font-weight: 100;
    float: right;
    padding: 10px 20px 10px 20px;
    border: solid #31546C 2px;
    text-decoration: none;
  }
  &.popUp{
    width: 100%;
  }
}
.title {
  text-align: center;
  color: white;
  font-family: Jura;
}
