@import 'colors';

.profile-info-main{
  text-align: center;
}
.edit {
  color: $baby-blue;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  font-size: 1em;
  background: $login-bg;
  font-family: Open Sans;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  padding: 13px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0 2px 3px rgba( 0,0,0,0.1 );
  clear: both;
  font-family: Open Sans;
}
.selection-container{
  display: table;
  margin: 0 auto;
}

.profile-container{
  display: table;
  height: 100%;
  width: 100%;
}
.profile-left{
  display: table-cell;
  height: 100%;
	width: 20%;
  color: $baby-blue;
	background-color: white;
  p{
    margin: 0;
  }
}
.profile-right{
  display: table-cell;
  height: 100%;
	background-color: $dark-grey;
	text-align:left;
}

.profile-nav{
  color: $baby-blue;
  text-align: center;

  h3{
    margin: 0;
    margin-top: -1px;
    &:before{
      content: '';
      width: 100%;
      height: 1px;
      background-color: $baby-blue;
      display: block;
      margin-bottom: 1em;
    }
    &:after{
      content: '';
      width: 100%;
      height: 1px;
      background-color: $baby-blue;
      display: block;
      margin-top: 1em;
    }
  }
}
.profile-pic-holder {
  margin: auto;
  width:200px;
  height:200px;
  border-radius: 100%;
  position:relative;
  overflow:hidden;
  background-size: cover;
  background-position: center;
}
.message{
  color: $baby-blue;
  margin: 2em auto;
  border-radius: 4px;
  background-color: transparent;
  font-family: Open Sans;
  font-weight: bold;
  float: right;
  padding: 5px 20px 5px 20px;
  border: solid $baby-blue 2px;
  text-decoration: none;
}
