@import 'colors';
.search-container {
  display: table;
  height: 100%;
  width: 100%;
}
.search-left {
  vertical-align: top;
  display: table-cell;
  height: 100%;
  width: 30%;
  color: $baby-blue;
  background-color: $dark-grey;
  p {
    margin: 0;
  }
}
.search-right {
  display: table-cell;
  height: 100%;
  background-color: $dark-grey;
  text-align: left;
}
.individual-container {
  text-transform: lowercase;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  color: black;
  width: 200px;
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  margin: 2em;
  p {
    font-size: 1.25em;
    color: $dark-grey;
    margin: 0;
  }
}
.search-pic-holder {
  margin: auto;
  margin-top: 1.5em;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.search-member-denominator {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}
.profile-nav-text {
  text-decoration: none;
  color: $baby-blue;
  margin-top: 2em;
  font-size: 0.6em;
  img {
    height: 0.6em;
    position: relative;
    top: -1px;
  }
}
.search-age-input {
  color: white;
  width: 3em;
  background-color: black;
  border: 0;
  border-radius: 5px;
  padding: 4px;
}
.search-dropdown {
  color: $baby-blue;
  background: url("assets/images/dropdown-icon.png") no-repeat;
  margin: 1em 0;
  -webkit-appearance: none;
  font-size: 1em;
  overflow: hidden;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
  padding-right: 20px;
  background-size: 10px 8px;
  background-position-x: 95%;
  background-position-y: 60%;
}
.search-field-container {
  margin: 2em;
  p {
    color: $light-grey;
    font-style: italic;
  }
}
.member-card-container {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 1px;
    background-color: $light-grey;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: -19px;
  }
}
