<header>
  <div class="nav">
    <ul>
      <div class="left-nav-container">
        <li class="title">spot.me</li>
      </div>
      <div class="right-nav-container">
        <li class="search" ui-sref-active="active"><a ui-sref="search">Search</a></li>
        <li class="matches" ui-sref-active="active"><a ui-sref="matches">Matches</a></li>
        <li class="messages" ui-sref-active="active"><a ui-sref="messages">Messages</a></li>
        <div class="nav-profile-dropdown">
          <li class="profile" ui-sref-active="active"><a ui-sref="profile">{{nav.profileInfo.name}}</a></li>
        </div>
      </div>
    </ul>
  </div>
</header>
