<div class="step0">
  <h1>Enter basic information</h1>
  <label>Name</label>
  <input type="text" required /> </br>
  <label>Gender</label>
  <input type="radio" value="male">Male
  <input type="radio" value="female">Female</br>
  <label>Workout Style</label>
  <select>
    <option value="bodybuilding">Bodybuilding</option>
    <option value="powerlifting">Powerlifting</option>
    <option value="xfit">Crossfit</option>
    <option value="sport">Sport</option>
    <option value="oly">Olympic Lifting</option>
  </select>

  </select>
</div>
