<form class="login popUp">
  <p>Enter basic information</p>
<hr>
  <input type="email" placeholder="email" required /> </br>
  <input type="password" placeholder="password" required /> </br>
  <input type="password" placeholder="password" required /> </br>
  <!-- <select>
    <option value="bodybuilding">Bodybuilding</option>
    <option value="powerlifting">Powerlifting</option>
    <option value="xfit">Crossfit</option>
    <option value="sport">Sport</option>
    <option value="oly">Olympic Lifting</option>
  </select> -->

  </select>
</form>
