<div class="login-container">
  <form class="login">
    <h1 class="title"> spot me </h1>
    <div class="input">
      <div ng-show="login.emessage != ''" style="background-color:white;">
        <p id="error-message">{{login.emessage}}</p>
      </div>
      <input type="email" placeholder="email" ng-model="login.email" required />
    </div>
    <div class="input">
      <input type="password" placeholder="password" ng-model="login.pass" required />
    </div>
    <button class="login login-button" ng-click="login.login()">sign in</button>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '136492886711499',
          xfbml: true,
          version: 'v2.5'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <button class="login login-button" ng-click="login.loginFacebook()">Facebook Login</button>

    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
    </div>
    <span id="forgot-pass">forgot password?</span>
    <p>Don't have an account yet?</p>
    <button class="login new-button" ng-click="login.create()">create account</button>
  </form>
</div>
