<header style="background-color:red;">
  <div class="nav">
    <ul>
      <div class="left-nav-container">
        <li class="title">spot me</li>
      </div>
      <div class="right-nav-container">
        <!-- <div class="nav-profile-dropdown"> -->
        <li class="profile" ui-sref-active="active"><a ui-sref="profile">{{nav.displayName}}</a></li>
        <!-- </div> -->
        <li class="messages" ui-sref-active="active"><a ui-sref="messages">Messages</a></li>
        <li class="matches" ui-sref-active="active"><a ui-sref="matches">Matches</a></li>
        <li class="search" ui-sref-active="active"><a ui-sref="search">Search</a></li>
      </div>
    </ul>
  </div>
</header>
