<div class="profile-container">

  <div style="display: table-row;">
    <div style="display: table-cell;">
      <nav></nav>
    </div>
  </div>
  <div style="display: table-row;">
    <div style="display: table-cell;height: 100%">
      <div style="display: table;height: 100%; width:100%;">
        <div class="profile-left">
          <button ng-click="profile.editInfo()">edit</button>
          <button ng-click="profile.logout()" style="float:right;">logout</button>
          <div class="profile-info-main">
            <div class="profile-pic-holder" style="background-image:url('{{profile.profileInfo.picUrl}}');">
            </div>
            <p>
              {{profile.profileInfo.name}}, {{profile.profileInfo.age}}
            </p>
            <div class="selection-container">
              <span style="font-family: monospace; font-size: 2em;">
                {{profile.profileInfo.gender}}
              </span>
              {{profile.profileInfo.lifting}}
              </br>
              <button class="message">
                <img src="assets/images/message.png" style="height:15px;width:15px;padding-right:5px;">message</button>
            </div>
            </br>
          </div>
          <div class="profile-nav">
            <h3>about me</h3>
            <h3>maxes</h3>
            <h3>schedule</h3>
            <h3>instagram</h3>
          </div>
        </div>
        <div class="profile-right">
          <h3>
            &nbsp;&nbsp;&nbsp;&nbsp; Today’s fitness industry is very individualized. If someone wants to start going to the gym, there are resources
            on the web for personalized plans, nutrition information, and anything else they want. This is all great, but as
            anyone who has ever had a gym partner knows, it’s undeniably better to have someone there. Working out with a partner
            has been shown to help people push themselves harder, miss fewer workouts and feel less intimidated at the gym. Spot Me
            is taking all the awkwardness out of finding a gym partner by allowing users to log on, fill out information
            about when where and how they workout, and be matched with people in their area with similar availability and
            goals. Do you need a gym partner to spot you so you can go as hard as you want to? Or maybe you are just too
            intimidated to go to the gym. Spot Me will connect people so that everyone can go to the gym and put in the work
            that they want to do. Users will be rewarded by being good partners in an environemtn that promotes quality exercise
            time and good partnership over individual physical excellence.
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
