<div class="profile-container">

  <div style="display: table-row;">
    <div style="display: table-cell;">
      <nav></nav>
    </div>
  </div>
  <div style="display: table-row;">
    <div style="display: table-cell;height: 100%">
      <div style="display: table;height: 100%; width:100%;">
        <div class="profile-left">
          <button ng-click="profile.editInfo()">edit</button>
          <button ng-click="profile.logout()" style="float:right;">logout</button>
          <div class="profile-info-main">
            <div class="profile-pic-holder" style="background-image:url('{{profile.profileInfo.picUrl}}');">
            </div>
            <p>
              {{profile.profileInfo.name}}, {{profile.profileInfo.age}}
            </p>
            <div class="selection-container">
              <span style="font-family: monospace; font-size: 2em;">
                {{profile.profileInfo.gender}}
              </span>
              {{profile.profileInfo.lifting}}
              </br>
              <button class="message">
                <img src="assets/images/message.png" style="height:15px;width:15px;padding-right:5px;">message</button>
            </div>
            </br>
          </div>
          <div class="profile-nav">
            <h3>about me</h3>
            <h3>maxes</h3>
            <h3>schedule</h3>
            <h3>instagram</h3>
          </div>
        </div>
        <div class="profile-right">
        </div>
      </div>
    </div>
  </div>
</div>
